sudo: required
services:
  - docker

before_install:
  - docker build -t sammeb/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true sammeb/docker-react npm run test -- --coverage

deploy:
  provider: elasticbeanstalk
  region: "us-east-2"
  app: "docker-react-aws"
  env: "Dockerreactaws-env"
  bucker_name: "elasticbeanstalk-us-east-2-312425826430"
  bucket_path: "docker-react-aws"
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY
